@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import '../css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600');

// Base.

// Component.

// Layout.
	@import 'layout/wrapper';
	@import 'layout/projects';
	@import 'layout/main';
