@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';
@import '../libs/skel';
@import '../../css/font-awesome.min.css';

// Base.

// Component.

// @keyframes
@keyframes myBlur {
	from {
		filter: blur(4px);
	}
	to {
		filter: blur(46px);
	}
}

@keyframes changeOpacity {
	0% {
		opacity:0.3;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes changeOpacityMonitor {
	0% {
		opacity:1.0;
	}
	100% {
		opacity: 0.3;
	}
}

// Layout.
#tiangle-blur {
	position: absolute;
	//animation: myBlur 3s ease-in-out infinite alternate;
	animation: changeOpacity 2s ease-in-out infinite alternate;
  will-change: opacity;
	-webkit-filter: blur(46px);
  filter: blur(46px);
}

#imac-blur {
	position: absolute;
	animation: changeOpacityMonitor 3s ease-in-out infinite alternate;
	will-change: opacity;
	//animation: myBlur 3s ease-in-out infinite alternate;
	-webkit-filter: blur(24px);
	filter: blur(24px);
}
