@import '../libs/vars';
@import '../libs/functions';
@import '../libs/skel';
@import '../../css/font-awesome.min.css';

@keyframes opacityAnim {
	from {opacity: 1; display: block}
  to {
		opacity: 0; display: none;
	}
}

picture.hideThis, #project-content span.hideThis{
	display: none;
	animation: opacityAnim 1s ease-in;
	will-change: opacity;
}

@keyframes grayScaleAnim {
	from {filter: grayscale(100%); transform: scale(1);}
  to {filter: grayscale(0%); transform: scale(1.1);}
}

@keyframes rotateAnim {
	0% {transform:  scale(1.1) rotateZ(0deg);}
  50% {transform:  scale(1.1) rotateZ(10deg);}
	100%{transform:  scale(1.1) rotateZ(0deg);}
}

.opacity {
	filter: grayscale(100%);
	transform: scale(1);
	will-change: filter, transform;
  cursor: pointer;
};

.opacity:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
	animation: grayScaleAnim 1s ease-in-out;
}

.opacity-off:active{
	filter: grayscale(0%);
	transform: scale(1.1);
	animation: rotateAnim 0.1s ease-in-out;
}

.opacity-off{
	filter: grayscale(0%);
	transform: scale(1.1);
	cursor: pointer;
}

.opacity-max{
  opacity:0.25;
}
.opacity-min{
  opacity:0.75;
}
